<script>
  (function() {
    window.counter = "https://ghinda_com.goatcounter.com/count";

    var script = document.createElement("script");
    script.async = 1;
    script.src = "//gc.zgo.at/count.js";
    var ins = document.getElementsByTagName("script")[0];
    ins.parentNode.insertBefore(script, ins);
  })();
</script>
<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt=""></noscript>
<script async defer data-domain="ghinda.com" src="https://plausible.io/js/plausible.js"></script>
